button {
    font: inherit;
    cursor: pointer;
    background-color: #ab132f;
    border: 1px solid #ffffff;

    width: auto;
    min-width:10vh;
    min-height:3vh;
    height: auto;
    border-radius: 25px;
    margin-left: 10px;
    color: white;
    text-overflow: ellipsis;  	
    white-space: nowrap; 		
} 
button:hover,
button:active {
  background-color: #4b0a16;
  border-color: #ffffff;
  color:  white;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: left;
  width:40vw;
  font-size:1.8rem;
  
}
.myinfo{
  font-size:1.2rem;
}
.logoutbutton{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:40vw;
  font-size:1.5rem;
  margin-top:10vw;
}

body{
  font-size:calc(1.1vh + 1.0vw);
}
input{
  
  font-size:calc(1.1vh + 1.0vw);
  padding: calc(0.01vh + 0.01vw);
  padding: 7px 7px 7px 10px;
}
input[type="checkbox"] {
  transform: scale(1.2); 
}

/* button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffffff;
  min-width: 70px;
  width: 12vw;
  height: 5vh;
  min-height: 30px;
  border-radius: 25px;
  margin-left: 10px;
}

button:hover,
button:active {
  background-color: #225966;
  border-color: #225966;
}


/* button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #3792A6;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  background-color: white;
  color: #3792A6;
  min-width: 50px;
  width: 12vw;
  height: 5vh;
  min-height: 30px;
  border-radius: 25px;
  margin-left: 10px;
}

button:hover,
button:active {
  background-color: #225966;
  border-color: #225966;
}

.login-actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffffff;
  min-width: 70px;
  width: 12vw;
  height: 5vh;
  min-height: 30px;
  border-radius: 25px;
  margin-left: 10px;
}
.login-actions .button {
  background-color: white;
  color: #3792A6;
} */ 