.alertContainer {
  width: 100%;
  height: auto;
}
.treeAlert {
  width: 200px;
  height: 100px;
  background-image: url("../../pic/board.png");
  background-size: 200px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kknow {
  position: absolute;

  bottom: 7vh;
  justify-content: center;
  align-items: center;
 text-align: center;
}
.smallboard{
  max-width:20vw;
}
.galarm{
  display: flex;
  flex-wrap: wrap; 
}
.galarms{
  padding-left: 10px;
}