
.container {
  overflow: auto;
  margin:auto;
  width: 80vw;
  height: 70vh;
  max-width:  80vw;
  max-height:  70vh;
  }
  .board{
    /* border: 1px solid black; */
    width: 80vw;
    height: 70vh;
    position: absolute;
  }
.Crd {
  float:left;
  position: relative;
  /* border: 1px solid black; */
  margin: 10px;
  max-width: 15vmax;
  max-height: 15vmax;
  top:15px;
  left:15px;
  }

  .text-container {
    position: absolute;
    top: 15%;
    left:15%;
    width: 80%;
    height: 80%;
    font-size:2vh;
    overflow-wrap: break-word;
  }
  .spa{
    right:50px;
    bottom:50px;
    margin:auto;
    position: fixed;
    max-width: 20vh;
    max-height: 20vh;
  }
  .test{
    position: fixed;
    top: 85%;
   
    right:40vw;

  }
