
  .actions {
    text-align: right;
  }
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #ab132f;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  .actions button:hover,
  .actions button:active {
    background-color: #4b0a16;
    border-color: #ab132f;
    color: white;
  }
  
  .actions .button--alt {
    color: white;
  }
  .actions .button {
    background-color: #ab132f;
    color: white;
  }