.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: #ab132f;
}



.contents {
  display: flex;
  flex-direction: row;
  
  height: 100%;
  margin-left:5vw;
  margin-right:5vw;
 /* https://okky.kr/questions/772502 */
  align-items: center;
  justify-content: space-between;
}

.bar {
  z-index: 2;
}
.searchbar {
  z-index: 2;
}

menu > ul {
  list-style: none;
}

menu > ul > li {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 100px;
}

.topicon{
    margin-top:0.5vh;
    font-size:calc(3vh + 1vw);
}