.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #dde0ea;
}

.contents {
  display: flex;
  width: 96%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.bar {
  z-index: 2;
}
.searchbar {
  z-index: 2;
}

menu > ul {
  list-style: none;
}

menu > ul > li {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 100px;
}
