.container {
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  align-items: right;
  background-color: #dde0ea;
} 

.search-textbox {
  position: relative;
  height: 43px;
  width: 50vw;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 13px;
}
.search-tag {
}
.search-tag-el {
}
.search-button {
  height: 48px;
  width: 40px;
  right: 0;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 13px;
}
