.search {
  position: fixed;
  z-index: 11;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
}
.searchInputText {
  padding: 0 35px 0 10px;
  width: calc(100vw - 10px);
  height: 40px;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  color: #444444;
  font-size: 14px;
  background: #f2f2f2 url("/src/pic/search.png") no-repeat right 10px center;
  background-size: 15px 15px;
}
.searchInputText:focus {
  outline: none;
}
.search > input::-ms-clear {
  display: none;
}
