.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7vh;
    background-color: #3b3939;
}

.bottomlogin {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    
    background-color: #3b3939;
    text-align: center;
    color: aliceblue;
}

nav {
    overflow: hidden;
}

nav>div {
    text-align: center;
    float: left;
    width: 33%;
    height: 45px;
    line-height: 45px;
}
.bottomicon{
    margin-top:1vh;
    font-size:calc(3vh + 1vw);
    
   

}
