.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #dde0ea;
}

.contents {
  display: flex;
  width: 96%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.hide
{
  left:-100%;
  border-color:black;
  position: absolute;
  color:blue;
}
.show
{
  margin-top:50px;  
  margin-bottom:45px;  
  z-index:-1;
  left:0%;
  top:0%;
  background-color:aqua;
  width:30%;
  height:80%;
  padding-left:0px;
  border-style:double;
  border-color:black;
  position: fixed;
}
.bar
{
  z-index:2;
}